.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    gap: 10px;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
    padding: 5% 28.5%;
    border-radius: 8px;
    border: 2px solid var(--color-font);
    gap: 10px;
    width: 25%;
}

.dev {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    padding: 2rem 0;
    background-color: var(--color-dev);
    font-weight: 500;
    font-size: 20px;
    width: 100vw;
}

/* @media screen and (min-width: 520px) and (max-width:1024px) {
    .dev {
        flex-direction: column;
        align-items: center;
    }

    .contact {
        font-size: 22px;
    }
} */