.header__titles {
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5%;
    font-weight: 500;
}

.header__list {
    display: flex;
    justify-content: center;
    text-align: justify;
    margin-top: 0.5%;
    padding: 15px;
    gap: 25px;
}