.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    flex-direction: column;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    flex-direction: column;
    gap: 10px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img{
    max-width: 70%;
    max-height: 70%;
}


@media screen and (min-width: 520px) and (max-width:1024px) {
    body {
        font-size: 22px;
    }

    .paragrafos {
        font-size: 22px;
    }
}

@media screen and (min-width: 1025px) and (max-width:1919px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 50%;
    }

    .img {
        flex: 1;
        text-align: right;
        /* Alinha a foto no lado direito */
    }

    .foto img {
        max-width: 100%;
        height: auto;
    }
}