.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    flex-direction: column;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    flex-direction: column;
    gap: 10px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img{
    max-width: 70%;
    max-height: 70%;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 5%;
    padding: 5% 28.5%;
    border-radius: 8px;
    border: 2px solid var(--color-font);
    gap: 10px;
    width: 25%;
}

@media screen and (min-width: 520px) and (max-width:1024px) {
    body {
        font-size: 22px;
    }

    .paragrafos {
        font-size: 22px;
    }
}

@media screen and (min-width: 1025px) and (max-width:1919px) {

}