.container__main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    gap: 10px;
}

.sub {
    display: flex;
    justify-content: center;
}

.image img {
    max-width: 70vh;
    max-height: 70vh;
    width: 50%;
}

.image {
    align-items: center;
    text-align: center;
}

@media screen and (min-width: 520px) and (max-width:1024px) {

    .container__main {
        display: flex;
        justify-content: space-around;
        align-items: left;
    }

    body {
        font-size: 22px;
    }

    .paragrafos {
        font-size: 22px;
    }
}

/* @media screen and (min-width: 1025px) and (max-width:1919px) {} */