@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,600&display=swap');
@import url("./reset.css");
@import url("./header.css");
@import url("./main.css");
@import url("./footer.css");


:root {
    --sistem-color: #000000;
    --color-font: #FFFFFF;
    --color-dev: #22D4FD;
    --font: 'Rubik', sans-serif;
    --size: 16px;
}

body {
    background-color: var(--sistem-color);
    color: var(--color-font);
    font-family: var(--font);
    font-size: var(--size);
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    font-weight: 400;
    width: 100%;
    height: 100%;
}

h2 {
    font-weight: 600;
    font-size: 20px;
    margin-top: 2%;
    gap: 10px;
}

.paragrafos {
    align-items: center;
    margin-left: 10vw;
    margin-right: 10vw;
}