@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,600&display=swap');
@import url("./reset.css");
@import url("./header.css");
@import url("./main.css");
@import url("./footer.css");


:root {
    --sistem-color: #000000;
    --font: 'Rubik', sans-serif;
    --size: 16px;
    --color-font: #FFFFFF;
}

body {
    background-color: var(--sistem-color);
    color: var(--color-font);
    font-family: var(--font);
    font-size: var(--size);
    font-weight: 300;
    width: 100%;
    height: 100%;
}

h2 {
    font-weight: 400;
    font-size: 20px;
}

.paragrafos {
    display: flex;
    margin-top: 17px;
    margin-right: 15vw;
}


@media screen and (min-width: 520px) and (max-width:1024px) {
    body {
        font-size: 22px;
    }

    .paragrafos {
        font-size: 22px;
    }
}

@media screen and (min-width: 1025px) and (max-width:1920px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .foto {
        flex: 1;
        text-align: right;
        /* Alinha a foto no lado direito */
    }

    .foto img {
        max-width: 100%;
        height: auto;
    }
}